@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
body{
 background-color: #f29e03;
 background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 100 100'%3E%3Crect x='0' y='0' width='46' height='46' fill-opacity='0.6' fill='%23ffa61d'/%3E%3C/svg%3E");
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  box-sizing: content-box;
  transition: .5s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2D2E6B;
  overflow: visible;
  z-index: 1;
}

nav ul {
  float: right;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: transparent;
}

nav ul li,
nav ul li select {
  list-style: none;
  background-color: transparent;
  margin-right: 2vh;
}

nav ul li a {
  line-height: 8vh;
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  padding-top: 50px;
  padding-bottom: 40px;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 5px;
  /* border-radius: 6px; */
  transition: .5s;
  background-color: transparent;
}

.submenu {
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-family: 'Open Sans',
  sans-serif;
  transition: .5s;
  background-color: transparent;
  list-style: none;
  cursor: pointer;
  border-width: 0px;
  border-style: none;
}

nav ul li a:hover,
.submenu:hover {
  color: black;
  transition: .5s;
  background-color: #E6B236;
  cursor: pointer;
}

.submenu_item {
  background-color: #2D2E6B;
  color: white;
  font-size: 15px;
  font-family: 'Open Sans',
  sans-serif;
  cursor: pointer;
}

.logo_navbar {
  position: relative;
  top: 0;
  left: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .logo_navbar {
  float: left;
  background-color: transparent;
  margin-left: 0;
}

nav .logo_navbar:hover {
  transform: scale(1.1);
  transition: .5s;
}

nav .logo_navbar img {
  width: 35vh;
  height: 8vh;
  transition: .5s;
  background-color: transparent;
  cursor: pointer;
}

@keyframes tonext {
  75% {
    left: 0;
  }

  95% {
    left: 100%;
  }

  98% {
    left: 100%;
  }

  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }

  95% {
    left: -300%;
  }

  98% {
    left: -300%;
  }

  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }

  97% {
    scroll-snap-align: none;
  }

  99% {
    scroll-snap-align: none;
  }

  100% {
    scroll-snap-align: center;
  }
}

ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;
  height: 100vh;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
}

.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  background-color: #f99;
  counter-increment: item;
}

.carousel__slide:nth-child(even) {
  background-color: #99f;
}

.carousel__slide:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -40%, 70px);
  color: #fff;
  font-size: 2em;
}

.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  scroll-snap-align: center;
}

@media (hover: hover) {
  .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
  }
}

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  animation-name: none;
}

.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}

.carousel__navigation-button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #2D2E6B;
  filter: drop-shadow(0 0 10px #0003);
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  position: absolute;
  top: 0;
  margin-top: 30%;
  margin-right: 5vh;
  margin-left: 5vh;
  width: 4rem;
  height: 4rem;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 0;
  outline: 0;
}

.carousel::before,
.carousel__prev {
  left: -1rem;
}

.carousel::after,
.carousel__next {
  right: -1rem;
}

.carousel::before,
.carousel::after {
  content: '';
  z-index: 1;
  background-color: #333;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
}

.carousel::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}

.carousel::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}

#carousel__slide1_bandeirastec {
  background-image: url('/images/bnn_bandeirasv1.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.img_bandeiratec {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.img_bandeiratec .bandeira_maior {
  width: 900px;
  height: 700px
}

.img_bandeiratec .bandeira_menor {
   width: 300px;
   height: 300px
}

.gif_bandeira {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5vh;
}

.gif_bandeira img {
  height: 30vh;
  width: 50vh;
}

#carousel__slide1_adesivosperf {
  background-image: url('/images/bnn_adesivosperfv1.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  width: 100%;
}

#carousel__slide1_adesivosdiv {
  background-image: url('/images/bnn_adesivosdivv1.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  width: 100%;
}

#carousel__slide1_soluplac {
  background-image: url('/images/bnn_soluplacv1.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  width: 100%;
}

#carousel__slide1_cartazresid {
  background-image: url('/images/bnn_cartazresidv1.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  width: 100%;
}

#carousel__slide1_bandeirasrig {
  background-image: url('/images/bnn_bandeirarigv1.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  width: 100%;
}

#carousel__slide1_cartaovisit {
  background-image: url('/images/bnn_cartaovisitv1.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  width: 100%;
}

#carousel__slide1_prag {
  background-image: url('/images/bnn_prag.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  width: 100%;
}

#carousel__slide1_sant {
  background-image: url('/images/bnn_sant.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  width: 100%;
}

#carousel__slide2_bandeirastec,
#carousel__slide2_adesivosperf,
#carousel__slide2_adesivosdiv,
#carousel__slide2_bandeirasrig,
#carousel__slide2_cartaovisit,
#carousel__slide2_cartazresid,
#carousel__slide2_prag,
#carousel__slide2_sant,
#carousel__slide2_soluplac {
  background-image: url('/images/bnn_bandeirasv2.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

#carousel__slide3_bandeirastec,
#carousel__slide3_adesivosperf,
#carousel__slide3_adesivosdiv,
#carousel__slide3_bandeirasrig,
#carousel__slide3_cartaovisit,
#carousel__slide3_cartazresid,
#carousel__slide3_prag,
#carousel__slide3_sant,
#carousel__slide3_soluplac {
  background-image: url('/images/bnn_bandeirasv3.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  width: 100%;
}

#carousel__slide4_bandeirastec,
#carousel__slide4_adesivosperf,
#carousel__slide4_adesivosdiv,
#carousel__slide4_bandeirasrig,
#carousel__slide4_cartaovisit,
#carousel__slide4_cartazresid,
#carousel__slide4_prag,
#carousel__slide4_sant,
#carousel__slide4_soluplac {
  background-image: url('/images/bnn_bandeirasv4.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  width: 100%;
}

.container_lottiescroll{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
  position: absolute;
  top: 85vh;
  ;
}

.container {
  margin: 5vh;
  padding: 5vh;
}

.sec1 {
  margin-bottom: 5vh;
  background: white;
  border-radius: 10px;
  -webkit-box-shadow: 6px 6px 20px -2px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: 6px 6px 20px -2px rgba(0, 0, 0, 0.58);
  box-shadow: 6px 6px 20px -2px rgba(0, 0, 0, 0.58);
}

.sec2 {
  margin-bottom: 5vh;
   background: white;
   border-radius: 10px;
   -webkit-box-shadow: 6px 6px 20px -2px rgba(0, 0, 0, 0.58);
   -moz-box-shadow: 6px 6px 20px -2px rgba(0, 0, 0, 0.58);
   box-shadow: 6px 6px 20px -2px rgba(0, 0, 0, 0.58);
}

.sec3 {
  background: white;
  border-radius: 10px;
  -webkit-box-shadow: 6px 6px 20px -2px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: 6px 6px 20px -2px rgba(0, 0, 0, 0.58);
  box-shadow: 6px 6px 20px -2px rgba(0, 0, 0, 0.58);
}

.titulo_sec {
  font-size: 50px;
  color: #2D2E6B;
  font-family: 'Open Sans',
  sans-serif;
  font-weight: 800;
  padding-top: 2vh;
  padding-bottom: 4vh;
  padding-left: 4vh;
}

.paragrafo_sec {
  font-size: 25px;
  color: #2D2E6B;
  font-family: 'Open Sans',
  sans-serif;
  font-weight: bolder;
  padding-left: 4vh;
}


footer {
   bottom: 0;
   left: 0;
   width: 100%;
   padding-bottom: 5vh;
   box-sizing: content-box;
   transition: .5s;
   background-color: #2D2E6B;
   overflow: visible;
   z-index: 1;
}

footer p {
   color: white;
   font-size: 15px;
   font-family: 'Open Sans',
   sans-serif;
   text-align: center;
}

footer .redessociais {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  height: 10vh;
  padding-top: 5vh;
}

footer .redessociais hr {
  width: 100%;
}

footer .LogoFacebook,
footer .LogoWhatsApp,
footer .LogoInsta {
  border-radius: 50%;
  border: 2px solid white;
  height: 8vh;
  width: 10vh;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .5s;
}

footer .LogoFacebook:hover,
footer .LogoWhatsApp:hover,
footer .LogoInsta:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: .5s;
}

footer .LogoFacebook:hover {
  background-color: #4267B2;
}

footer .LogoInsta:hover {
  background: rgb(131, 58, 180);
  background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

footer .LogoWhatsApp:hover {
  background-color: #24CC63;
}


footer .LogoInsta {
  margin: 3vh;
}

footer .LogoFacebook {
  margin-left: 3vh;
}

footer .LogoFacebook i,
footer .LogoInsta i,
footer .LogoWhatsApp i {
  color: white;
  font-size: 4vh;
}


footer .logo_footer {
  margin-top: 5vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


footer .logo_footer img {
  height: 10vh;
  width: 10vh;
}
